@charset "UTF-8";

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1800px;
	justify-content: space-around;
	width: 98%;
	margin: 2% auto;
}

.productDiv {
	width: 32%;
	cursor: pointer;
}

.productDiv > img {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.productDiv > h3,
.productDiv > p {
	width: 80%;
	margin: 2% auto;
}