@charset "UTF-8";
/*notice*/
.name_2 {
	font-size: 50px;
	font-weight: bold;
}

.name_1 {
	text-align: center;
	position: relative;
	margin-top: 13%;
	transform: translateY(-50%);
	height: 30%;
}

.faq_container {
	margin-top: 3%;
}

.faq {
	text-align: center;
}

.faq_question {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
}

.faq_answer {
	word-break: keep-all;
	font-size: 25px;
}

.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
	width: 40%;
	margin: 0 auto;
}