@charset "UTF-8";

.box{
	height: 90%;
}

html, body {
	height: 100%;
}

.name_2 {
	font-size: 50px;
	font-weight: bold;
}

.name_1 {
	text-align: center;
	position: relative;
	top: 20%;
	transform: translateY(-50%);
}
