@charset "UTF-8";

.inline{
     font-size: 15px;	
}

.name_2 {
	font-size: 50px;
	font-weight: bold;
}

.name_1 {
	text-align: center;
	position: static;
	margin-top: 13%;
	transform: translateY(-50%);
}

.outline {
	text-align: center;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	margin-top: 3%;
}

.buying {
	text-align: center;
	border-collapse: collapse;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	width: 300px;
	height: 40px;
	padding: 10px 25px;
	border: 2px solid #000;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 20px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	border-radius: 20px;
}

.btn {
	background: #424242;
	color: #fff;
	line-height: 42px;
	padding: 0;
	border: none;
}

.btn:hover {
	background: transparent;
	color: #424242;
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px
		20px 0px #0002, 4px 4px 5px 0px #0001;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #424242;
	transition: 400ms ease all;
}

.btn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn:hover:before, .btn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}